<div class="option__con">
  <div class="option__con-left">
    <fieldset class="field">
      <label class="field__label" for="FieldInput"
        >Write color in hexadecimal
      </label>
      <div class="field__con">
        <span class="field__prefix">#</span>
        <input type="text" class="field__input" id="FieldInput" maxlength="6" />
      </div>
    </fieldset>
  </div>
  <div class="option__con-separator">or</div>
  <div class="option__con-right">
    <fieldset class="field">
      <label class="field__label" for="FieldPicker">Pick color</label>
      <div class="field__con">
        <input class="field__input" id="FieldPicker" type="color" />
      </div>
    </fieldset>
  </div>
</div>
<div class="option__btn-con">
  <button class="btn">Save</button><span class="option__info"></span>
</div>
