/*FAST STYLES*/
body:not(.dark_mode_off) {
  background-color: #121212 !important;
  color: #dcc2c2;

  .link-bar--link-bar--NoEGM .link-bar--categories--37yJn,
  .header--header--1SLKV,
  .sidebar--content---4z0-,
  .billboard-banner--billboard--Cgd8a .billboard-banner--content-box--3fy3A {
    background-color: #1c1d1f !important;
  }
  .discovery-units-loading-skeleton--course-image--1ssFq,
  .discovery-units-loading-skeleton--course-info--2DlBi,
  .discovery-units-loading-skeleton--title--19wuB,
  span.block--block--1xkEI {
    background-color: #3a3a3a !important;
  }
  .skeleton--shine--2LRqN::before {
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      #524747
    );
  }
}

/*SLOW STYLES*/
html body.dark_mode_on {
  background-color: var(--primary-bg-color) !important;

  .styles--success-header--1zGG6,
  .styles--success--24Rts,
  .profile-course-lists--no-tabs-content--2uXSX,
  #content,
  .header .tab-bar,
  .hero-inner {
    background-color: var(--primary-bg-color) !important;
  }
  .link-bar--link-bar--NoEGM .link-bar--categories--37yJn,
  .header--header--1SLKV,
  .lecture-progress-card--lecture-progress-card--1LsBm:hover,
  .lecture-progress-card--lecture-progress-card--1LsBm:active,
  .ud-badge-bestseller,
  .alert-banner--alert-banner-information--2slx4,
  .section--section--BukKG .ud-accordion-panel-toggler,
  .sidebar--sidebar-header--3RQk_,
  .section--panel--1zoAn .ud-accordion-panel-toggler,
  .sidebar-container--content--2KZyB,
  .ud-select,
  .ud-select option,
  .ud-btn-secondary,
  .ud-btn-secondary.ud-btn-disabled,
  .modal--default-size--399MX,
  #tabs--1-content-0,
  .my-courses__app .ud-tab-content,
  .ud-btn-white-solid,
  .ud-btn-white-solid.ud-btn-disabled,
  .thread-list-toolbar--container--2xeoA,
  .thread-list--thread-list-container--2HHnK,
  .message-list--messages--1aHZj,
  .message-list--messages--1aHZj .message-list--message--x6bsA,
  .app--payment-method-settings-container--2nmSF
    > .app--payment-settings-container--2e-w8
    .app--payment-setting--checkbox--3DmID,
  .home ul.faq-grid li .wrap,
  .home ul.faq-ins li .wrap,
  .home ul.topics-grid li .wrap,
  .contact-tile .wrap,
  .hero-inner .search input,
  .ud-search-form-autocomplete
    .ud-search-form-autocomplete-suggestions-with-image,
  #onetrust-banner-sdk #onetrust-reject-all-handler,
  #onetrust-banner-sdk #onetrust-accept-btn-handler,
  .lecture-bookmark-v2--content-container--2f_Tg,
  .question-list-question--question-wrapper--3qHzn:hover {
    background-color: var(--secondary-bg-color) !important;
  }
  .popover--popover--Az__U,
  .single-course-unit--container--2D57g:hover,
  .single-course-unit--container--2D57g:active,
  .popular-topics-unit--topic-tag--3tYg-:hover,
  .popular-topics-unit--topic-tag--3tYg-:active,
  .header--search-bar--1g81R,
  .popover--arrow--5b0-d::before,
  .popover--arrow--5b0-d::after,
  .curriculum-item-link--curriculum-item--KX9MD > .item-link,
  .section--panel--1zoAn .ud-accordion-panel-content,
  .dropdown--menu--38WE2 .ud-block-list,
  .text-input-form--text-input-form--170x1 input,
  .panel-menu--footer--sY39u,
  .ud-avatar,
  .options-menu--menu-heading--zKjVN,
  .billboard-banner--billboard--Cgd8a .billboard-banner--content-box--3fy3A,
  .alert-banner--alert-banner-success--kPw8D,
  .ud-text-input-large,
  .rt-menu-bar-container-sticky,
  .rt-editor,
  div.text-input-with-addons--addon--1dOJH,
  .thread-list--thread--BXLgb:hover,
  .thread-list--thread--BXLgb.thread-list--active--3aBTC {
    background-color: var(--tertiary-bg-color);
  }
  .curriculum-item-link--curriculum-item--KX9MD > .item-link:hover,
  .curriculum-item-link--curriculum-item--KX9MD.curriculum-item-link--is-current--31BPo
    > .item-link,
  .rt-editor pre.prettyprint,
  .rt-scaffolding code {
    background-color: var(--quarternary-bg-color);
  }
  .ud-btn-white-solid:hover,
  .ud-btn-white-solid.ud-btn-disabled:hover {
    background-color: rgba(255, 255, 255, 0.08) !important;
  }
  .filter-container--loading-overlay--2Rm2K {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .ud-btn-secondary {
    background-color: var(--primary-font-color);
  }

  *,
  .item-card--item-card-title--_-dkH:hover,
  .course-card--container--1QM2W h3[data-purpose='course-title-url'] a,
  .subcategory-link-bar--subcategory-link-bar--24CSR
    .subcategory-link-bar--category--m9LeC,
  .subcategory-link-bar--subcategory-link-bar--24CSR
    .subcategory-link-bar--subcategory--3tEKQ,
  .subcategory-link-bar--subcategory-link-bar--24CSR
    .subcategory-link-bar--subcategory-in-dropdown--hdpz8,
  .shopping-item--container--XGMrp .shopping-item--course-title--1nay8 a,
  .header .tab-bar a.back,
  .header .language-selector .dropdown-toggle,
  .home ul.tabs li.active a {
    color: var(--primary-font-color) !important;
  }
  .ud-badge-hot-and-new,
  .hero-header--title---4jCL,
  .hero-header--subtitle--athYy,
  .hero-header--cta--3lLy8,
  .from-instructors--quote--1tMSP,
  .from-instructors--title--2wCfM,
  .from-instructors--subtitle--3-zFG,
  .hero-header--billboard-container--sYvLn > .teach-page__heading,
  .teach-page__pale-container > .teach-page__container > .teach-page__heading,
  .simple-cta--subtitle--VWykw,
  .ud-badge-highest-rated,
  .ud-badge-new,
  .smart-bar--smart-bar--1rOkE .smart-bar--basic-bar-content--2jJSQ span,
  .smart-bar--smart-bar--1rOkE a {
    color: var(--secondary-font-color) !important;
  }
  .header--dropdown-button--ht4OS:hover .header--dropdown-button-text--2OxOV,
  .header--dropdown-button--ht4OS:hover .ud-icon,
  .ud-popper-open .header--dropdown-button-text--2OxOV,
  .ud-popper-open .header--dropdown-button--ht4OS .ud-icon,
  .popular-topics-unit--topic-tag--3tYg-:hover,
  .popular-topics-unit--topic-tag--3tYg-:active,
  .subcategory-link-bar--subcategory-link-bar--24CSR
    .subcategory-link-bar--category--m9LeC:hover,
  .subcategory-link-bar--subcategory-link-bar--24CSR
    .subcategory-link-bar--subcategory--3tEKQ:hover,
  .subcategory-link-bar--subcategory-link-bar--24CSR
    .subcategory-link-bar--subcategory-in-dropdown--hdpz8:hover,
  .header--header--1SLKV .js-header-search-field::placeholder,
  .ud-btn-secondary:active,
  .ud-btn-secondary:hover {
    color: var(--hover-font-color);
  }
  .ud-footer .inverted-link {
    color: #6e5cd7;
  }
  *,
  .header--search-bar--1g81R:hover,
  .ud-footer .language-selector-container .ud-btn,
  .ud-footer .language-selector-container .ud-icon,
  .course-landing-page_sidebar-container .intro-asset--img-aspect--3fbKk img,
  .course-landing-page_sidebar-container .intro-asset--overlay--3jyau,
  .section--panel--1zoAn .ud-accordion-panel-content,
  .ud-search-form-autocomplete
    .ud-search-form-autocomplete-suggestions-with-image,
  .course-list--container--FuG0T > *:not(:last-child) {
    border-color: var(--primary-border-color);
  }
  .ud-btn-white-solid,
  .ud-btn-white-solid.ud-btn-disabled,
  .popover--popover--Az__U,
  .rt-editor pre.prettyprint,
  .rt-scaffolding code {
    border: 1px solid var(--primary-border-color);
    box-shadow: none;
  }
  .header--search-bar--1g81R {
    border-color: transparent;
  }

  .ud-fake-toggle-checkbox use {
    display: none;
  }
  .ud-real-toggle-input:checked ~ .ud-fake-toggle-checkbox use {
    display: block !important;
  }
}
