/*FAST STYLES*/
body:not(.dark_mode_off) {
  background-color: #121212 !important;
  .link-bar--link-bar--NoEGM .link-bar--categories--37yJn,
  .header--header--1SLKV {
    background-color: #1c1d1f !important;
  }
}

/*SLOW STYLES*/
html body.dark_mode_on {
  background-color: var(--primary-bg-color) !important;

  .link-bar--link-bar--NoEGM .link-bar--categories--37yJn,
  .header--header--1SLKV,
  .lecture-progress-card--lecture-progress-card--1LsBm:hover,
  .lecture-progress-card--lecture-progress-card--1LsBm:active,
  .ud-badge-bestseller,
  .alert-banner--alert-banner-information--2slx4,
  .section--section--BukKG .ud-accordion-panel-toggler,
  .sidebar--sidebar-header--3RQk_,
  .section--panel--1zoAn .ud-accordion-panel-toggler,
  .sidebar-container--content--2KZyB {
    background-color: var(--secondary-bg-color) !important;
  }
  .popover--popover--Az__U,
  .single-course-unit--container--2D57g:hover,
  .single-course-unit--container--2D57g:active,
  .popular-topics-unit--topic-tag--3tYg-:hover,
  .popular-topics-unit--topic-tag--3tYg-:active,
  .header--search-bar--1g81R,
  .popover--arrow--5b0-d::before,
  .popover--arrow--5b0-d::after,
  .curriculum-item-link--curriculum-item--KX9MD > .item-link,
  .section--panel--1zoAn .ud-accordion-panel-content {
    background-color: var(--tertiary-bg-color);
  }

  *,
  .item-card--item-card-title--_-dkH:hover,
  .course-card--container--1QM2W h3[data-purpose='course-title-url'] a,
  .subcategory-link-bar--subcategory-link-bar--24CSR
    .subcategory-link-bar--category--m9LeC,
  .subcategory-link-bar--subcategory-link-bar--24CSR
    .subcategory-link-bar--subcategory--3tEKQ,
  .subcategory-link-bar--subcategory-link-bar--24CSR
    .subcategory-link-bar--subcategory-in-dropdown--hdpz8 {
    color: var(--primary-font-color);
  }
  .smart-bar--smart-bar__title--1LFsk,
  .ud-text-with-links,
  .smart-bar--smart-bar-timer--Nvb_u span,
  .billboard-banner--billboard--Cgd8a .billboard-banner--content-box--3fy3A h1,
  .billboard-banner--billboard--Cgd8a .billboard-banner--content-box--3fy3A p,
  .ud-badge-hot-and-new {
    color: var(--secondary-font-color) !important;
  }

  .header--dropdown-button--ht4OS:hover .header--dropdown-button-text--2OxOV,
  .header--dropdown-button--ht4OS:hover .ud-icon,
  .ud-popper-open .header--dropdown-button-text--2OxOV,
  .ud-popper-open .header--dropdown-button--ht4OS .ud-icon,
  .popular-topics-unit--topic-tag--3tYg-:hover,
  .popular-topics-unit--topic-tag--3tYg-:active,
  .subcategory-link-bar--subcategory-link-bar--24CSR
    .subcategory-link-bar--category--m9LeC:hover,
  .subcategory-link-bar--subcategory-link-bar--24CSR
    .subcategory-link-bar--subcategory--3tEKQ:hover,
  .subcategory-link-bar--subcategory-link-bar--24CSR
    .subcategory-link-bar--subcategory-in-dropdown--hdpz8:hover,
  .header--header--1SLKV .js-header-search-field::placeholder {
    color: #a59898;
  }
}
