body {
  background-color: #2a2a2a;
  width: 180px;
  color: #dcc2c2;
}
button {
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
  background-color: #4e4949;
  color: #fff;
  border: 0;
  padding: 10px 0;
  font-size: 15px;
  transition: 0.2s linear;
  &:hover {
    background-color: #4e4343;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 14px;
  margin: 0 4px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider:before {
      left: calc(100% - 25px);
      background-color: #a435f0;
    }
    &:checked + .slider {
      background-color: #503364;
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4e4343;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  &::before {
    position: absolute;
    content: '';
    height: 25px;
    width: 25px;
    background-color: #777777;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
    top: 50%;
    left: 0;
    border-radius: 50%;
  }
}

.sr-only {
  display: none;
}
.flex-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
}
footer {
  margin-top: 20px;
  text-align: center;
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
